.articleBoard {
  color: #333;
}

.articleBoard table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  word-wrap: break-word;
  word-break: break-word;
  border-collapse: collapse;
}

.articleBoard table thead th {
  height: 40px;
  padding: 2px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
}

.articleBoard table tbody td {
  height: 36px;
  padding: 4px 7px;
  border-bottom: 1px solid #f2f2f2;
}

.articleBoard .tdArticle .boardTag .boardTagTxt,
.articleBoard .tdArticle .boardTag .boardTagTitle {
  border: 1px solid #ffc6c9;
  background-color: #ffe3e4;
  color: #ff4e59;
}
.boardTag {
  display: table-cell;
  width: 56px;
  text-align: center;
  vertical-align: middle;
}

.boardTagTxt {
  display: block;
  width: 56px;
  height: 21px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 800;
  line-height: 19px;
  margin-left: 8px;
}

.boardTitle {
  display: table-cell;
  padding-top: 1px;
}

.boardTitleTxt {
  display: table;
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
  word-break: break-word;
}

.title {
  color: #ff4e59;
  font-weight: bold;
}

.tdName,
.tdDate,
.tdView,
.tdLikes {
  text-align: center;
}
