.titleArea {
  width: 100%;
  margin-top: -1px;
  line-height: 25px;
  display: inline-block;
  position: relative;
}

.titleTxt {
  display: inline;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  vertical-align: sub;
  float: left;
  position: absolute;
  top: 20%;
}

.sortArea {
  float: right;
}

.ntcHideChk {
  display: inline-block;
  margin: 7px 0 0 8px;
  vertical-align: top;
  color: #333;
}

.ntcHideChk input {
  vertical-align: middle;
}
.ntcHideChk label {
  color: #333;
  line-height: 16px;
  position: relative;
  top: 1px;
  margin-left: 2px;
}

.sortArea button {
  background-color: transparent;
  border: none;
}

.sortForm {
  display: inline-block;
  margin: 7px 0 0 8px;
  vertical-align: top;
  color: #333;
  border-left: solid 1px #e5e5e5;
}

.sortCard {
  display: inline-block;
  margin-left: 8px;
  background-position: -207px -112px;
  width: 14px;
  height: 16px;
  background-image: url("../../image/icon.svg");
  vertical-align: middle;
}

.sortList {
  display: inline-block;
  margin-left: 12px;
  background-position: -261px -122px;
  width: 14px;
  height: 16px;
  background-image: url("../../image/icon.svg");
  vertical-align: middle;
}

.blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.selectDiv {
  display: inline-block;
  margin: 7px 0 0 8px;
  vertical-align: top;
  border-left: solid 1px #e5e5e5;
}

.selectDiv .sortCnt {
  margin-left: 12px;
  border: 1px solid #ddd;
  height: 30px;
}
