.boardWrite {
  color: #333;
  display: block;
  width: 880px;
  float: right;
}

.boardWrite .writeHeader {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #323232;
}

.writeHeader .title {
  font-size: 22px;
}
